@import './Variables.scss';

.categoria{ 

    //contenedor/objeto scroll ->> es utilizado para tener un padding y de esa manera el contendor de items 
    //permite que sus hijos se extiendan hasta donde el padre superior se encuentra, solo es para poder manera los opacity 
    //sin tener que usar js ya que no puedo seleccionar todos los hermanos cuando este activo el hover de un item
    &__carousel{
        overflow-x: scroll; 
        scroll-behavior: smooth; //movimiento lento del scroll cuando cambia de posicion ("javascript")
        padding: 40px 0px;
        margin: 0px 20px;

        &::-webkit-scrollbar{
            display: none;
        }
    }

    //Contenedor de objetos ("item")
    &__items{
        display: flex;

        &.opacity{
            & .categoria__item{
                opacity: 0.3;
            }
        }
    }

    &__buttons{
        display: flex;
    }

    &__button{
        position: absolute;
        width: 50px;
        height: $height-category-item;
        cursor: pointer;
        z-index: 2;
        display: flex;
        align-items: center;
        border-radius: 15px;
        margin-bottom: 40px;

        background: url(../assets/play-icon.png) center/contain no-repeat;
        

        &-left{
            transform: scaleX(-1);
            bottom:0px;
            left: 0px;
            
        }
        &-right{
            bottom:0px;
            right: 0;
        }

        &:hover{
            background-color: rgba(0,0,0,0.1);
        }
    }


}

@media (max-width:420px){
    .categoria{
        &__buttons{
            opacity: 0;
        }
    }
}



@media (hover:hover){
    .categoria {
        &__items{
            &:hover{
                & .categoria__item{
                    opacity: 0.3;

                    &:hover{
                        opacity: 1; 
                    }
                }
            }
        }
    }
}

//redux para mantener una referencia de quien es el que esta modal

//aplicar opacity a cateogira_items
    //al elemento que se le dio click aplicarle opacity 1 scalarlo y z-index2
        //los botones aparecen con display none, a si que debo hacerlo aparecer


    //cuando le den click al eleiminar o el play
    // hacer un toggle y qutiar las 3 clases añadidas