body{
 margin: 0;
 color: white;
 min-height: 100vh;
 font-family: 'Muli', sans-serif;
 background: linear-gradient(#000000, #7442d8);
}

.main{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

//va por fuera del elemento
::placeholder{
  color: white;
}   