body{
 margin: 0;
 color: white;
 min-height: 100vh;
 font-family: 'Muli', sans-serif;
 background: linear-gradient(#000000, #3e1d80);
}

.main{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.not-found{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

//va por fuera del elemento
::placeholder{
  color: white;
}   

//truco para evitar el fill del formulario
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
    transition: 9999s;
    transition-delay: 9999s;
}