.cabezera{
    display: grid;
    grid-template-columns: 200px auto;
    align-items: center;
    justify-items: center;
    box-shadow: 0px 2px 10px #382068;
    padding: 5px 0 ;
    margin-bottom:15px;
    width: 100%;
    
    &__logo{
        width: 180px;
        height: 50px;
        background: url(../assets/logo-platzi-video-BW2.png) center/cover no-repeat;
    }

    &__menu{
        position: relative;
        justify-self: end;

        &:hover .menu__list{
            visibility: visible;
            transform: translateY(10px);            //mueve en y a la posicion 0 original
            opacity: 1;                          //asigna opacidad
            transition-delay: 0s;                  //coloca que todas las transiciones no tengan delay a si la visibilidad es inmediata
        }

    }
}

.menu__profile{
    cursor: pointer;
    display: flex;
    align-items: center;

    .profile__logo{
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background: url(../assets/user-icon.png) center/cover no-repeat;
    }

    .profile__text{
        margin: 0 10px;
    }

}   


.menu__list{
    display: flex;
    visibility: hidden;
    box-sizing: border-box;
    position: absolute;
    list-style: none;
    flex-direction: column;
    background-color: #090925;
    margin: 0;
    opacity: 0;
    border-radius: 0 0 5px 5px;
    left: -10px;
    padding: 5px;
    text-align: center;
    width: calc(100% + 10px);
    transform: translateY(-20px);

    //transform dura 0.5s y tiene 0s delay, la opacity tiene 0.5s y 0 delay, la visibilidad 
    transition: transform 0.4s linear 0s, opacity 0.4s linear 0s, visibility 0s linear 0.4s;

    .list__item{
        padding: 5px 0;
        a{  
            word-wrap: break-word;
            text-decoration: none;
            color: white;
        }

        border-bottom: 1px solid white;

        &:hover{
            background-color: rgba(255,255,255, 0.1);

        }
    }

    .list__item:last-of-type{
        border: 0;
    }
}


@media (min-width:420px){
    .menu__profile{
        
        .profile__text{
            margin: 0 20px;
        }
    }
}